
	<div id="wrapper">
	<div class="container">
	<ul class="nav nav-tabs">
    <li class="active"><a href="#">Chats</a></li>
    <li style="float:right">
    		{{#each mes}}
 			<button type="button" class="btn btn-success">
			{{this.message}}</button>
			{{/each}}
	</li>
  	</ul>
 	<div class="jumbotron">
  			{{#each chats}}
 			<div class="alert alert-info">
			{{this.message}}</div>
			{{/each}}
		</div>
		<div id="footer" align="center">
			<form action="/sent" method="POST" class="form-group" >
			 <input type="text" name="message">
			 <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span></button>
			</form>
    	</div>
 	</div>

 	</div>
	 <footer >
  
</footer>
